body{
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	background: #E1DFEE;
	
}
.mainlist{
	display: flex;
	margin: 0 auto;
}
.list{
	
	display: block;
	margin: 0 auto;
}
.main {
    display: flex;
	margin: 0 auto;
	height: 371px;
	box-shadow: 0.1px 1px 5px black;
	background: url("img/Сгруппировать 6.png");
}
.cover{
	margin-top: 140px;
	margin-right: 80px;
}
.logo{
	margin-right: 53px;
	margin-left: 100px;
}
.main_hat{
	margin: 0 auto;
	background:transparent;
}
.head_scroll{
	position: fixed;
	margin: 0 auto;
	background: white;
}
.nativ{
	display: inline-flex;
	list-style: none;
}
.menu{
	margin-right: 53px;
	color:white;
	text-decoration:none !important;
	border: none !important;
	text-shadow: black 0.1px 0.1px 3.5px;;
	font-size: 13px
}
.pages{
	clip-path: circle(50%);
	border: none;
	height: 42px;
	width: 40px;
}
.search{
	display: inline-flex;
    background: transparent;
	margin-left: 944px;
	margin-right: 50px;
}
.search:after{content:""; clear: both; display: table;}

.search form {
    width: auto;
    float: right;
}
.search input{
    width: 140px;
    height: 31px;
    padding-left: 35px;
    border-radius: 26px;
    font-size: 15px;
	color: white;
    border: 3px solid #ddd8ec56;
    background: transparent;
    outline: none;
}
::placeholder{
    color: #b2b2b283;
}
.search button{
    width: 16px;
    height: 15px;
    background: none;
    border: none;
    position: absolute;
	margin-left: 10px;
}
.search button::before{
    content:"";
	font-size: 10px;
    font-family: FontAwesome;
    color: black;
}

.market{
	margin-left: 120px;
	height: 150px;
	width: 150;
}
.ms{
	display: flex;
}
.filter{
	margin-left: 130px;
	display: flex;
	width: 1610px;
	height: 70px;
	background: url("img/fill.png");
	border-radius: 10px;
}
.filter button{
	margin-top:10px;
	margin-left:10px;
	border-radius: 10px;
	font-size: 20px;
	border: none;
	color:white;
	background: rgba(151,169,239,0.39);
	height: 49px;
	width: 160px;
}
.filter h1{
	padding-top: 10px; 
	padding-left: 20px;
	margin-right: 50px;
	color:white;
}
.sell{
	margin-left: 900px;
	border-radius: 50px;
	font-size: 30px;
	border: none;
	color: white;
	background: rgba(138,103,224,0.48);
	width: 210px;
	height: 70px;
}
.id{
	display: flex;
	margin: 0 auto;
}
.item{
	display: grid;
    border-radius: 15px;
	margin-top: 25px;
	margin-bottom: 50px;
	margin-left: 50px;
	background: url("img/item.png");
	box-shadow: 0.1px 0.1px 3.5px;
	height: 420px;
	width: 280px;
}
.item a{
	margin-left: 25px;
	font-size: 17px;
	color: black;
	border: none !important;
	list-style: none;
}
.music{
	height: 266px;
	border-radius: 15px;
	margin-top: 7px;
	margin-left: 7px;
}
.buy{
	font-size: 17px;
	margin-left:90px ;
	border-radius: 26px;
	width: 85px;
	height: 32px;
	background: black;
	color: #FFFFFF;
}
.bb{
	display: flex;
}
.price{
	font-size: 17px;
	border-radius: 26px;
	width: 85px;
	height: 32px;
	margin-left: 10px;
	color: black;
	border: none;
	background: #E1DFEE;
}
.info{
	margin-top: 50px;
	background: url("img/info.png");
	height: 1000px;
	
}
.footer{
	background: #E1DFEE;
	height: 350px;
	margin: 0 auto;
}
.container img{
	margin-left: 450px;
}

.footer_container div{
	margin-left: 440px;
	
	
}
.footer_info{
	display: flex;
}

.footer_info p{
	
	margin-right: 100px; 
}
.footer_menu{
	
	color:black;
	font-size: 19px;
	display: inline-flex;
	list-style: none;
	color: black;
	margin: 0 auto;
}
.footer_menu li{
	margin-right: 53px;
	list-style: none;
	color: black;
	text-decoration:none !important;
	border: none !important;
}
.footer_menu a{
	color:black;
}
.soc button a{
	font-family: FontAwesome;
    color: black;
}